* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #e66465 0%, #9198e5 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 75%;
  height: 90%;
  display: flex;
}

#player1 {
  background-color: white;
  height: 100%;
  width: 50%;
  border-radius: 15px 0px 0px 15px;
}

#player2 {
  background-color: black;
  height: 100%;
  width: 50%;
  border-radius: 0px 15px 15px 0px;
}
